body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .footer, .welcome {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.welcome .welcome-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button, .sign-up {
    background-color: #3882F6;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    padding: 0 32px;
}

.links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.welcome {
    display: flex;
}

.welcome img {
    width: 500px;
    height: 350px;
}

.cards img {
    width: 200px;
    height: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 32px;
}

